{% load static %}
{% load sweetify %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<link rel="stylesheet" href="{% static 'css/login.css' %}">   

<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" {% if not has_error %}checked{% endif %}><label for="tab-1" class="tab">Autenticarse</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up" {% if has_error %}checked{% endif %}><label for="tab-2" class="tab">Registrarse</label>
        <div class="login-form">

            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">Nombre de usuario</label>
                        <input id="user" type="text" class="input" name="username">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Contraseña</label>
                        <input id="pass" type="password" class="input" name="password" data-type="password">
                    </div>
                    <div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check"><span class="icon"></span> Mantenerme conectado</label>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Autenticarse">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        {% comment %} <a href="{% url 'socialaccount_login' 'google' %}">Iniciar sesión con Google</a> {% endcomment %}
                        <a href="#">¿Olvidó su contraseña?</a>
                    </div>
                </div>
            </form>
        
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="sign-up-htm">
                    <div class="group">
                        <label for="username" class="label">Nombre de usuario</label>
                        <input id="username" type="text" class="input" name="username" value="{{ request.POST.username }}">
                    </div>

                    <div class="group">
                        <label for="password1" class="label">Contraseña</label>
                        <input id="password1" type="password" class="input" name="password1">
                    </div>

                    <div class="group">
                        <label for="password2" class="label">Repetir Contraseña</label>
                        <input id="password2" type="password" class="input" name="password2">
                    </div>

                    <div class="group">
                        <label for="email" class="label">Correo electrónico</label>
                        <input id="email" type="email" class="input" name="email" value="{{ request.POST.email }}">
                    </div>
                    
                    <div class="group">
                        <input type="submit" class="button" value="Registrarse">
                    </div>
                    <div class="hr"></div>
                </div>
            </form>

            {% for message in messages %}
				<script>
					Swal.fire({
						icon: '{{ message.tags }}',
						title: 'Mensaje',
						text: '{{ message }}',
						position: 'top-end',
						showConfirmButton: false,
						timer: 2000,
						timerProgressBar: true,
						willOpen: () => {
							Swal.showLoading()
						},
						didOpen: () => {
							Swal.hideLoading()
						}
					});
				</script>
			{% endfor %}
        </div>
    </div>
</div>